// LSF config
// process.executor = 'lsf'
// process.queue = 'short'

// the following two lines were already commented out
//process.memory = '12.GB'
//process.time = '24.hour'

// executor.queueSize = 30
// END OF LSF config

// SLURM config
process.executor = 'slurm'
process.cpus = 2
process.memory = '8 GB'
process.time = '12h'

executor.queueSize = 30

